* {
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-section {
    width: 350px;
    height: 600px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    gap: 8px;
}

.display-area {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: xx-large;
    font-weight: bold;
    padding: 16px;
}

.button-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.button-row {
    flex: 1;
    display: flex;
    gap: 4px;
}

.button-row {
    flex-direction: row;
}

.input-button {
    flex: 1;
    font-size: x-large;
    font-weight: bold;
    border-radius: 8px;
}

.button-style-one {
    color: white;
    background-color: #616161;
}

.button-style-two {
    color: #0e9f45;
    background-color: #2f3135;
}

.button-style-three {
    color: white;
    background-color: #097633;
}

.white-text {
    color: white;
}

.black-background {
    background-color: #17191a;
}

.light-green-background {
    background-color: #befaba;
}

div {
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
}